<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>untitled</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<style>
		body {
			margin:0px;
			padding:0px;
		}


		#header {
			height:60px;
			width:100%;
			top:0px;
			position:fixed;
			background-color:rgba(221,221,221,1);
			box-shadow: 0 0 5px 1px black;
			border-bottom-left-radius:15px;
			border-bottom-right-radius:15px;
		}
		
		@media screen and (min-width:1400px) {
			#header,#footer {
				width:1100px;
			}
			#content {
				position:fixed;
				width:1200px;
			}
		}
		@media screen and (max-width:1400px) {
			#header, #footer {
				width:900px;
			}
			#content {
				position:fixed;
				width:1000px;
			}
		}
		#header, #footer{
			z-index:5;
		}
		
		#content {
			background-color:rgba(221,221,221,0.6);
			box-shadow: 0 0 5px 1px black;
			bottom:0px;
			top:0px;
			padding-top:80px;
			padding-left:30px;
		}

		.category {
			position:relative;
			width:160px;
		}		
		#footer {
			height:50px;
			position:fixed;
			bottom:0px;
			background-color:rgba(221,221,221,1);
			box-shadow: 0 0 5px 1px black;
			border-top-left-radius:15px;
			border-top-right-radius:15px;
		}
		#edit_tab {
			position:fixed;
			top:400px;
			right: 0px;
			height:200px;
			width:21px;
			background-color:rgba(221,221,221,1);
			box-shadow: 0 0 5px 1px black;
			border-bottom-left-radius:15px;
			border-top-left-radius:15px;
		}
		#edit_tab.open {
			position:fixed;
			top:200px;
			right: 0px;
			height:200px;
			width:601px;
			background-color:rgba(221,221,221,1);
			box-shadow: 0 0 5px 1px black;
			border-bottom-left-radius:15px;
			border-top-left-radius:15px;
		}
		#switch {
			position:absolute;
			width:20px;
			height:200px;
			background-color:rgba(200,200,200,1);
			left:0px;
			border-bottom-left-radius:15px;
			border-top-left-radius:15px;
			padding-left:5px;
		}
		#login_area {
			//border:1px solid pink;
			width:900px;
			position:relative;
			left:20px;
			top:5px;
		}
		#search_area {
			//border:1px solid pink;
			width:900px;
			position:absolute;
			left:400px;
			top:15px;
		}
		input[type=text],input[type=password] {
			border-style:ridge;
			margin-top:0px; 
			margin-bottom:0px;
			width:160px;
		}
		#email.textlabel {
			border:none;
			background-color:rgba(0,0,0,0);
		}
		#button {
			margin-left:10px;
		}
		#preview_frame {
			position:absolute;
			left:45px;
			top:20px;
			height:160px; 
			width:160px;
			border-radius:10px;
			border:2px dashed gray;
		}
		#preview {
			position:relative;
			left:5px;
			top:5px;
			border-radius:5px;
		}
		#product_info {
			position:absolute;
			top:9px;
			left:229px;
			width:370px;
		}
		td {
			border:0px solid gray;
		}
	</style>
</head>

<body>
	
	<div id="header">
		<div id="login_area">
			<table>
				<tr>
					<td style="width:65px;font-size:10px;">USEREMAIL</td>
					<td ><input type="text" value="" title="USER EMAIL" id="email" 
					style="margin-top:0px; margin-bottom:0px;"></td>
				</tr>
				<tr>
					<td style="width:65px;font-size:10px;">PASSWORD</td>
					<td><input type="password" id="passwd"></td>
				</tr>
			</table>
			
			
			<button id="login" style="position:absolute; top:3px; left:245px; 
			height:45px; border-radius:5px; background-color:silver;">Log In</button>
		</div>
		<div id="search_area">
			<select id="category1" class="category" title="Search in"></select>
			<input type="text" style="width:200px;" id="keywd" title="Search for">
			<button id="search" title="Search product in that category.
If no keywrd specified, list all products in that category.">Search Item</button>
		</div>
	</div>
	
	<div id="content">
		<ul id="product_list_frame" style="position:absolute; width:950px;height:600px;top:70px; 
		left:10px; list-style:none; padding:0px;margin:0px;margin-bottom:80px; overflow-y:auto;">
			<li>
				<div class="product_item" style="position:relative; left:50px; width:850px; height:160px; ">
					<div class="p_logo" style="background:url('images/index.png');border:1px solid gray;width:150px; height:150px;"></div>
					<div class="p_table" style="position:absolute; top:20px; left:200px;">
						<table style="margin-top:20px;">
							<tr>
								<td>name</td><td><input type="text" class="p_name" maxlength="50"></td>
								<td rowspan=4 style="vertical-align:top;">description</td>
								<td rowspan=4><textarea class="p_desc" rows=4  maxlength="200" style="width:160px; 
								height:90px; resize:none; border:1px solid gray;"></textarea></td>
							</tr>
							<tr>
								<td>category</td><td><select class="category"></select></td>
							</tr>
							<tr>
								<td>price</td><td><input type="text" class="p_price" maxlength="8"></td>
							</tr>
							<tr>
								<td>amount</td><td><input type="text" class="p_amnt" maxlength="6"></td>
							</tr>
						</table>
					</div>
					<button id="edit_product" style="position: absolute; width:100px; height:100px; 
					left:710px; top:40px;">Update Item</button>
				</div>
			</li>
		</ul>
	</div>
	
	<div id="footer">	
	</div>
	
	<div id="edit_tab">
		<div id="switch"><br><br><br><br>◄</div>
		<div id="preview_frame">
			<input type="file" id="img_file" style="display:none;" />
			<canvas id="preview" style="background:url('images/index.png;')" width=150 height=150></canvas>
		</div>
		<div id="product_info">
			<table>
				<tr>
					<td>name</td><td><input type="text" id="product_name" maxlength="50"></td>
				</tr>
				<tr>
					<td>category</td><td><select id="product_category" class="category"></select></td>
				</tr>
				<tr>
					<td>price</td><td><input type="text" id="product_price" maxlength="8"></td>
				</tr>
				<tr>
					<td>amount</td><td><input type="text" id="product_amnt" maxlength="6"></td>
				</tr>
				<tr>
					<td>description</td><td><textarea id="product_desc" rows=3 maxlength="200" style="width:160px; height:60px; resize:none; border:1px solid gray;"></textarea></td>
				</tr>
			</table>
		</div>
		<button id="add_new" style="position: absolute; width:50px; height:65px; left:510px; top:120px;">Add Item</button>
	</div>
	
	<script>
		
		var img_data='';
		var current_product_info=undefined;
		var current_product_list=undefined;
		var current_category_info=undefined;
		var current_category_list=undefined;
		var current_user_id=undefined;
		var authenticated=false;
		
		jQuery(function($){
			
			
			
			
////////////////////// This part includes important global functions /////////////////////////////////
			// most client sideoperation should involve this first. 
			function auth_user(suc_cb, err_cb){
			// originally I plan to send out a user_id to server to auth
			// later I found the cookie can store that info and auto sent with request.
			// the returned data will be in JSON format and there is a "authed" var can show if
			// this user has been authened. The return data will be automatically binded to first 
			// param of callback function.
				$.ajax({
					url:"/auth/",
					type:"POST",
					datatype:'JSON',
					success: suc_cb,
					error: err_cb||function(err){ alert(err+'Authentication failed. Please try to login again.'); }
				});
			};
			
			// this function is for getting all category info from server
			// data return from server is all category id and name
			function get_category_info(suc_cb, err_cb){
				$.ajax({
					url:"/s_category/",
					type:"POST",
					datatype:'JSON',
					success: suc_cb,
					error:err_cb||function(){alert('Failed to get category info.');}
				});
			};
			
			function get_product_list_info(suc_cb, err_cb, category_id, disp_num){
				// return data contains total number of products, first page list
				// 
				$.ajax({
					url:"/s_category/"+category_id+"/product/",
					type:"POST",
					datatype:"JSON",
					data:{offset:offset},
					success:suc_cb,
					error:err_cb
				});
			};

			// fill a DOM element with a page num link, each link init one request
			function generate_page_number(tag, n_perpage, req_fun){
				
			};
/////////////////////////////////////////////////////////////////////////////////////////////////////////			
				
				
				
				


			// this part is for query initial data to fill out category and 
			// according product list within that category
			function fill_category(){	
				function suc_cb(data){
					// here, the data is an array
					var category_list='';
					$.each(data, function(index, val){
						category_list+='<option class="category_item" category_id='+val.id+'>'+val.name+'</option>';
					});
					$('.category').html(category_list);
					$('.category').attr('selected_id',data[0].id);
				};

				get_category_info(suc_cb, err_cb);
			};

			// this part is for checking if a user logged in, and send back to client side
			// to change client login area style(such as lock the login textbox and set logout button)
			function set_user_login_info(){
				// when the page first loaded, we need to check if there has been already
				// user logged-in info, if so, we need lock user login text box and show 
				// logout button. 
				function suc_cb(data){
					if(data.authed){
						alert(data.message);
						$('#login').text('Log out');
						$('#email').attr('readonly', 'readonly');
						$('#email').addClass('textlabel');
						$('#email').val(data.user_email);
						$('#passwd').hide();
					}
					else {
						alert(data.message);
						$('#login').text('Log In');
						$('#email').removeAttr('readonly');
						$('#email').removeClass('textlabel');
						$('#email').val("");
						$('#passwd').show();
					}
				};
				auth_user(suc_cb);
			};





			function init_load(){
			// this part is for adjusting the layout
				var ww = $(window).width();
				var hw = $("#header").width();
				if((ww-hw)/2 > 0){
					$("#header,#footer").css("left",(ww-hw)/2);
				}
				else {
					$("#header,#footer").css("left",0);
				}
				var ww = $(window).width();
				var hw = $("#content").width();
				if((ww-hw)/2 > 0){
					$("#content").css("left",(ww-hw)/2);
				}
				else {
					$("#content").css("left",0);
				}
				
				var wh = $(window).height();
				var hw = $("#header").height();
				console.log(hw);
				var plfh = wh-2*hw;
				$('#product_list_frame').height(plfh-10);
				
				
				fill_category();	
				set_user_login_info();			

				// this is the end of init_load();	
			};
			init_load();

			$('#login').click(function(){
				function suc_cb(data){
					if(data.authed){
						alert('hoho');
						current_user_id=data.user_id;
						$('#login').text('Log out');
						$('#email').attr('readonly', 'readonly');
						$('#email').addClass('textlabel');
						$('#passwd').hide();
					}
					else {
						$('#login').text('Log In');
						$('#email').removeAttr('readonly');
						$('#email').removeClass('textlabel');
						$('#passwd').show();
						alert("Please check user email and password!");
					}
				};
				function err_cb(err){
					alert('Login Error!');
				};
			// this function is for login button click
				function user_login(email, passwd, success_cb, error_cb){
					$.ajax({
						url:"/login/",
						type:"POST",
						datatype:'JSON',
						data:{
							'email':email,
							'passwd':passwd
						},
						success: success_cb,
						error: error_cb
					});
				};
				user_login( $('#email').val().trim(), $('#passwd').val().trim(), suc_cb, err_cb );
			});	

			$('.category').change(function(){
				$(this).attr('selected_id',$(this).find("option:selected").attr("category_id"));
				})
				
			$("#search").click(function(){
				alert($("#category1").attr("selected_id"));
				});

			$(window).resize(function(){
				var ww = $(window).width();
				var hw = $("#header").width();
				if((ww-hw)/2 > 0){
					$("#header,#footer").css("left",(ww-hw)/2);
				}
				else {
					$("#header,#footer").css("left",0);
				}
				
				var ww = $(window).width();
				var hw = $("#content").width();
				if((ww-hw)/2 > 0){
					$("#content").css("left",(ww-hw)/2);
				}
				else {
					$("#content").css("left",0);
				}
				
				
				var wh = $(window).height();
				var hw = $("#header").height();
				console.log(hw);
				var plfh = wh-2*hw;
				$('#product_list_frame').height(plfh-10);
				
			});
		
			$("#switch").click(function(){
				$('#edit_tab').toggleClass("open",500);
				if($("#switch").html()=="<br><br><br><br>►") {
					$("#switch").html("<br><br><br><br>◄");
				}
				else {
					$("#switch").html("<br><br><br><br>►");
				}
				});			
			
			$("#preview").click(function(){
				$("#img_file").click();
				});
		
			$("#img_file").change(function(){
				window.URL = window.URL || window.webkitURL;
				
				var f = document.getElementById('img_file').files[0];

				if(f!=undefined){

	// Give image data to an image object
					var img = new Image();
					img.src = window.URL.createObjectURL(f);
	// Get the canvas drawing handler
					var preview = document.getElementById('preview');
					var ctx = preview.getContext('2d');

					img.onload = function(){
						var MAX_LEN=150;
						
						var w = this.width;
						var h = this.height;
					
						if(w>h){
							w = MAX_LEN;
							h = w*this.height/this.width;
						}
						else
						{
							h = MAX_LEN;
							w = h*this.width/this.height;
						}
						console.log(w+":"+h);
						ctx.clearRect(0,0,MAX_LEN,MAX_LEN);
						ctx.drawImage(img, 0,0,w,h);
					};
				}
			//this is the end of img_file change.	
			});	
			
			$('#add_new').click(function(){
				// client provides product info( self-info, category_id), server uses 
				// session user_id, use date() as date_reg, date_rev
				
				
				//get image data
				var preview = document.getElementById('preview');
				var img_data = preview.toDataURL();
				var product_form = {
					name:$("#product_name").val(),
					category:$("#product_category").attr("selected_id"),
					price:$("#product_price").val(),
					amount:$("#product_amnt").val(),
					description:$("#product_desc").val(),
					img_data:img_data
				};
//				console.log(product_form);
				function suc_cb(data){
					if(data.authed){
						$.ajax({
							url:"/a_product/",
							type:"POST",
							data:{
								product_info:product_form,
							},
							datatype:"JSON",
							success:function(sts){
								// if server updata this product info,
								// it will return sts.cuc==true and allow 
								// this page to update product list.
								if(sts.suc){
									alert("New product added");
									// here should add update product list.
								}
								else {
									alert("Please check login info.");
								}
							},
							error:function(err){
								alert("Product info uploading failed.");
							}
						});
					}
					else {
						alert("User not authenticated.");
					}
				};
				auth_user(suc_cb);				
			});










			
			// this is the end of jQuery(function($))
			});
	</script>
	
</body>

</html>
